*{
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(to right, #949cdf, #a7c5eb);
	height: 100vh;

}
.calculator-body{
	width: 610px;
	margin: 60px auto;
	background: white;
	border-radius: 6px;
	padding: 40px;
}
.display{
	padding: 24px 16px;
	width: 100%;
	background: #a7c5eb;
	border: none;
	color: white;
	font-size: 26px;

}
.display:focus{
	outline: none;
}
.button-gallery .btn{
	background: #a7c5eb;
	color: white;
	padding: 12px 6px;
	width: 95px;
	margin-right: 8px;
	font-size: 26px;

}
.last{
	margin-right: 0 !important;
}